@{
    ViewData["Title"] = "Welcome";
}

<div>
    <img src="~/images/banner1.png" alt="ASP.NET" class="img-responsive" />
    <br /><br />
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Design</h2>
        <ul>
            <li>SOLID and Clean Code</li>
            <li>Architecture with responsibility separation concerns</li>
            <li>DDD Concepts - Layers and Domain Model Pattern</li>
            <li>CQRS - Command Query Responsibility Segregation</li>
            <li>Event Sourcing</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Technologies</h2>
        <ul>
            <li>ASP.NET 6.0</li>
            <li>ASP.NET MVC Core</li>
            <li>ASP.NET WebApi Core with JWT Bearer Authentication</li>
            <li>ASP.NET Identity Core</li>
            <li>Entity Framework Core 6.0</li>
            <li>.NET Core Native DI</li>
            <li>AutoMapper</li>
            <li>FluentValidator</li>
            <li>MediatR</li>
            <li>Swagger UI with JWT support</li>
        </ul>
    </div>
    <div class="col-md-3">
        
    </div>
    <div class="col-md-3">
        
    </div>
</div>
